body, html {
    background-color: #f8fafc;
    font-family: Lato, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

@media (max-width: 768px){
    table{
        width: 95 vw;
        font-size: 0.9rem;
    }
    th, td{
        padding: 7px 5px;
    }
}

table{
    border-radius: 1rem;
    margin-top: 20px;
    width: 85vw;
    align-self: center;
    border-collapse: collapse;
    overflow: hidden;
    outline: rgb(241, 245, 249) solid 1px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: #ffffff;

}

th, td {
    text-align: center;
    padding : 9px 8px; 
}

thead{
    background-color: #bddeff;
    color: #3673af;
}

h2{
    margin-left: 20px;
}

.loading{
    font-style: italic;
    color: gray;
}

.delete-btn{
    border:none;
    background-color: #ffffff;
    color:#ff4d4d;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
}

.delete-btn:hover{
    transform:scale(1.1);
}

.delete-btn { display: none; }
tr.selectionnee .delete-btn { display: inline; }