body, html {
    background-color: #f8fafc;
    font-family: Lato, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

table{
    border-radius: 1rem;
    margin-top: 20px;
    width: 85vw;
    align-self: center;
    border-collapse: collapse;
    overflow: hidden;
    outline: rgb(241, 245, 249) solid 1px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: #ffffff;

}

th, td {
    text-align: center;
    padding : 9px 8px; 
}

thead{
    background-color: #bddeff;
    color: #3673af;
}

h2{
    margin-left: 20px;
}

.loading{
    font-style: italic;
    color: gray;
}